{% extends '::base.html.twig' %}

{% block body %}
    <p>Your investments: </p><br/>
    {{ dump(investments) }}

    <a href="{{ path('invest') }}">Makaroni</a>
{% endblock %}

{% block title %}

{% endblock %}

