{% extends '::base.html.twig' %}

{% block body %}
    <p>Your investments: </p><br/>
    {{ dump(investments) }}
    <p>Your loans: </p><br/>
    {{ dump(loan) }}

    <a href="{{ path('invest') }}">Invest</a>
    <a href="{{ path('loan') }}">Loan</a>
{% endblock %}

{% block title %}

{% endblock %}

