{% extends "::base.html.twig" %}

{% block title %}AppBundle:Invest:login{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.money) }}
    {{ form_row(form.investments) }}
    <button type="submit">Invest</button>
    {{ form_end(form) }}
{% endblock %}
